* {
    background:                     #2d3047;
    background-alt:                 #208aae;
    foreground:                     #DDDDDD;
    border:                         #FF674D;
    border-alt:               		#45E3FFff;
    selected:               		#a44a3f;
    urgent:                         #DA4453FF;
}
